OST_GITHUB_ID=
OST_GITHUB_SECRET=
OST_GITHUB_CALLBACK_URL=https://cms.institut-ecocitoyen-pmb.fr/api/outstatic/callback
OST_TOKEN_SECRET=
OST_REPO_OWNER=institut-ecocitoyen-mont-blanc
OST_REPO_SLUG=website
OST_REPO_BRANCH=main
OST_CONTENT_PATH=outstatic/content
